__pycache__/
*.py[cod]
*$py.class

.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/

build/
dist/
*.spec

.venv/
venv/
env/
ENV/
**/.idea/
logs/
*.log
*.csv
*.jsonl
report.json
docs
